#homePageTitle {
    text-align: center;
}

#displayGrid {
    width: 75%;
    background-color: aliceblue;
    text-align: center;
    margin: auto
}

h2 {
    font: bolder;
}

.jumbotron {
    margin: auto;
}

#whiteBackground {
background-color: white;

}

body {
    background-image: url("trainTracksPic.jpg");

}